<% if @users.any? %>
  <div class="user-grid">
    <% @users.each do |user| %>
      <div class="user-card">
        <div class="avatar-container">
          <%= link_to user_path(user) do %>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, alt: user.username, class: "avatar-img" %>
            <% else %>
              <%= image_tag 'default_avatar.png', alt: 'Default Profile', class: "avatar-img" %>
            <% end %>
          <% end %>
        </div>
        <div class="user-info">
          <%= link_to user.username, user_path(user), class: "username-link" %>
          <p class="email"><%= user.email %></p>
          <% if user.bio.present? %>
            <p class="bio"><%= truncate(user.bio, length: 100) %></p>
          <% end %>

          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= button_to "Unfollow", unfollow_path(user), method: :post, class: "btn btn-danger btn-sm mt-2" %>
            <% elsif current_user.sent_follow_request_to?(user) %>
              <%= button_to "Cancel follow request", cancel_path(user), method: :post, class: "btn btn-warning btn-sm mt-2" %>
            <% else %>
              <%= button_to "Follow", follow_path(user), method: :post, class: "btn btn-primary btn-sm mt-2" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="no-users-found">
    <p>No users found 😕</p>
  </div>
<% end %>
