<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>

  <p>
    <%= link_to "", post, class: "post-link" %>
  </p>

  <% if post.images.attached? %>
    <div class="images-container">
      <% post.images.each do |image| %>
        <%= image_tag image,
          class: "post-image" %>
      <% end %>
    </div>
  <% end %>
</div>
